body {
    font-family: -apple-system, BlinkMacSystemFont,'Open Sans', 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
    font-weight: 400;
    letter-spacing: -.022em;
    font-synthesis: none;
    -moz-font-feature-settings: 'kern';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color:black;
    line-height: 1.5em;
    /*padding: 25px; */
    background-image: url('../images/logo.png');
    background-color:white;
    background-repeat:no-repeat;
	background-size:cover;
}

dt{
    font-weight: bold;
}

img {
    max-width: 40%; /* Afbeeldingen responsive maken */
}

main {
	width: 900px;
	margin: 0 auto;
}
table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
}
table {
	width: 100%;
}
th {
	padding: 15px;
	background-color: #5577B3;
}
td {
	width: 50%;
	vertical-align: top;
	text-align: justify;
}
ul {
	padding-left: 35px;
	padding-right: 35px;
}
nav ul {
	margin: 0;
	padding: 0;
	border: 1px solid #E0E0E0;
	background-color: #E5E5E5;
	list-style-type: none;
	overflow: hidden;
}
nav li {
	float: left;
}
nav li a {
	text-decoration: none;
	font-size: 0.9em;
	display: block;
	color: #4D4D4D;
	text-align: center;
	padding: 15px 15px;
}
nav li a:hover:not(.active) {
	background-color: #BDBDBD;
}
nav li a.active {
	color: #FFFFFF;
	background-color: #6ed8be;
}