body {
	color: black;
}
main {
	width: 900px;
	margin: 0 auto;
	text-align: center
}
section {
	min-height: 180px;
	height: auto;
}
.justify {
	text-align: justify;
}
/* ---------------------- Navigation ---------------------- */
nav ul {
	margin: 0;
	padding: 0;
	background-color: #707070;
	list-style-type: none;
	overflow: hidden;
}
nav li {
	float: left;
	border: 1px;
	border-color: #050505;
	border-right-style: solid;
}
nav li a {
	text-decoration: none;
	display: block;
	color: #FFFFFF;
	text-align: center;
	padding: 15px 15px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 800;
	font-synthesis: none;
	-moz-font-feature-settings: 'kern';
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 15px;
	line-height: 15px;
}
nav li a:hover:not(.active) {
	background-color: #6ED8BE;
	color: #3F3F3F;
}
nav li a.active {
	color: #050505;
	background-color: #7BC6B5;
}
/* ---------------------- Typography ---------------------- */
.titel {
	font-family: 'roboto', sans-serif;
	font-weight: 600;
	font-synthesis: none;
	-moz-font-feature-settings: 'kern';
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 30px;
	line-height: 60px;
}
.tussentitel {
	font-family: 'roboto', sans-serif;
	font-weight: 400;
	font-synthesis: none;
	-moz-font-feature-settings: 'kern';
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 25px;
	line-height: 50px;
}
.tekst, p {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-synthesis: none;
	-moz-font-feature-settings: 'kern';
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 20px;
	line-height: 40px;
}
.accenten {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-synthesis: none;
	-moz-font-feature-settings: 'kern';
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 20px;
	line-height: 40px;
	font-style: italic
}
.knoppen-nav {
	font-family: 'Open Sans', sans-serif;
	font-weight: 800;
	font-synthesis: none;
	-moz-font-feature-settings: 'kern';
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 15px;
	line-height: 15px;
}
/* ---------------------- Colors ---------------------- */
.Rectangle {
	height: 100px;
	width: 100px;
	border: 1px;
	border-color: #050505;
	border-style: solid;
	margin: auto;
}
.Bermuda {
	background-color: #6ED8BE;
}
.Black {
	background-color: #050505;
}
.White {
	background-color: #FFFFFF;
}
.DoveGray {
	background-color: #707070;
}
/* ---------------------- Cards ---------------------- */

/* +++++++++ Normal card +++++++++ */
.normalcard {
	margin: auto;
	width: 40%;
	border: 1px;
	background-color: #707070;
	color: #FFFFFF;
}
.card:hover {
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
}
.container {
	padding: 2px 16px;
}
/* +++++++++ Small card +++++++++ */
.smallcard {
	margin: auto;
	width: 40%;
	border: 1px;
	background-color: #707070;
	color: #FFFFFF;
}
.card:hover {
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
}
.container {
	padding: 2px 16px;
}
/* +++++++++ Image with text card +++++++++ */
.imagetextcard {
	margin: auto;
	width: 40%;
	border: 1px;
	background-color: #707070;
	color: #FFFFFF;
}
.imagetextcard:hover {
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
}
.containeroverlay {
	margin-top: -90px;
	text-align: center;
}
p.containeroverlay {
	background-color: hsla(0,0%,44%,0.75);
}
/* +++++++++ Image  card +++++++++ */
.card {
	margin: auto;
	width: 40%;
	border: 1px;
	background-color: #707070;
	color: #FFFFFF;
}
.card:hover {
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
}
.container {
	margin-top: -100px;
	text-align: center;
}
/* +++++++++ Video card +++++++++ */
.card {
	margin: auto;
	width: 40%;
	border: 1px;
	background-color: #707070;
	color: #FFFFFF;
}
.card:hover {
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
}
.container {
	padding: 2px 16px;
}
/* +++++++++ Event card +++++++++ */

/* --------------------- UI elements ---------------------- */
a.round {
	text-decoration: none;
	display: inline-block;
	padding: 2px 30px;
	border: 2px;
	border-color: #050505;
	border-style: solid;
	margin-left: 250px;
	margin-bottom: 10px;
}
a:hover.round {
	background-color: #707070;
	color: #7BC6B5;
}
.next {
	background-color: #7BC6B5;
	color: #050505;
}
.round {
	border-radius: 50%;
}
